
<div class="container"   > 
        <div  > 
            <div  > 
        <div class=" text-center" style="margin-left: auto;margin-right: auto; width: 200px;"> 
            <img src="{{perfil2.imagen}}"  class="img-responsive  text-center" />
        </div>
        <div  class="card-block text-center"> 
           <h4>{{perfil2.nombre}} {{perfil2.apellido}}</h4>
        </div>
        <div  class="card-block text-center"> 
           <h4>{{profile.telefono}}</h4>
        </div>
        <div  class="card-block text-center"> 
           <h4>{{profile.nickname}}</h4>
        </div>
                <div  class="card-block text-center"> 
                        <input type="button" value="Termina el Registro"  class="btn btn-success">
                </div>
                <div  class="card-block text-center"> 
                    <h5>{{profile.email}}</h5>
                </div>
               
        
        <div  class="card-block text-center"> 
            <input type="button" value="Editar"  routerLink="/edit-perfil" routerLinkActive="active" class="btn btn-primary">
        </div>
        </div>
        </div>
    </div>