
  <div class="container">
  
 <form (submit)="vender($event)">
 <div class="contac-us col-md-12 col-xs-12">
    <div class="row row-content">
        <div class="col-lg col-right">
            <sebm-google-map [latitude]="mapConfi.lat" [longitude]="mapConfi.lon" [zoom]="mapConfi.zoom" [zoomControl]="mapConfi.zoomControl" [zoom]="mapConfi.styles">
                <sebm-google-map-marker [markerDraggable]="true" [(latitude)]="lat2" [(longitude)]="lng2"  (dragEnd)="pos($event)"></sebm-google-map-marker>
            </sebm-google-map>
        </div>
    </div>

</div>
<div class="col-md-12" > 
    <div class="col-md-12" > 
            <div>
        <div  class="col-md-12"> 
             <div class="col-md-12">
            <img id="img" class="img-responsive" [src]="image"  height="150">
                </div>
                <div class="col-md-12 form-group">
                    <div class="divupload">
                    <input type="file" accept="image/*" (change)="changeListener($event)">
                    </div>
                
                
                </div>
        </div>

        <div  class="col-md-12"> 
        <div class="form-group">
        <!-- <label for="name">Email:</label> -->
        <input type="text" class="form-control" [(ngModel)]="modelSignup.fullname" [ngModelOptions]="{standalone: true}" required #fullname placeholder="Nombre Completo">
        </div>
        </div>
        <div  class="col-md-12"> 
        <div class="form-group">
            <!-- <label for="name">Email:</label> -->
            <input type="email" class="form-control" [(ngModel)]="modelSignup.email" [ngModelOptions]="{standalone: true}" required #emailsignup placeholder="user@dominio.com">
        </div>
        </div>    
        <div  class="col-md-12"> 
        <div class="form-group">
            <!-- <label for="name">Contraseña:</label> -->
            <input type="password" class="form-control" [(ngModel)]="modelSignup.password" [ngModelOptions]="{standalone: true}" required #passwordsignup placeholder="Contraseña">
        </div>
        </div>
         
        
        <div  class="col-md-12"> 
            <div class="form-group">
                <label for="nombre_local">Nombre del Local</label>
                <input type="text" [(ngModel)]="nombre_local" class="form-control" name="nombre_local">
            </div>
        </div>
        <div  class="col-md-12"> 
            <div class="form-group">
                <label for="RUC">RUC del Local</label>
                <input type="number" [(ngModel)]="RUC" class="form-control" name="RUC" maxlength="13">
            </div>
        </div>
        <div  class="col-md-12"> 
            <div class="form-group">
                <label for="telf">Teléfono</label>
                <input type="number" [(ngModel)]="telf" class="form-control" name="telf">
            </div>
        </div>
        <div  class="col-md-12"> 
            <div class="form-group">
                <label for="provincia">Provincia</label>
                <input type="text" [(ngModel)]="provincia" class="form-control" name="provincia">
            </div>
        </div>
        <div  class="col-md-12"> 
            <div class="form-group">
                <label for="edomicilio">Entrega a Domicilio</label>
                <input type="checkbox" [(ngModel)]="edomicilio" name="edomicilio">
            </div>
        </div>
        <div  class="col-md-12"> 
            <div class="form-group">
                <select  class="form-control" #select multiple (change)="change($event.target.options)">
                    <option *ngFor="let item of myOptions" [value]="item.nombre">
                    {{item.nombre}}
                    </option>
                </select>
            </div>
        </div>

        <div  class="col-md-12"> 
            <h5>Aceptar las Condiciones</h5>
        </div>
        <div  class="card-block"> 
            <input type="checkbox" (click)="aceptarVender()">
        </div>
                
                <div  class="col-md-12" *ngIf="aceptar"> 
                    <input type="submit" value="Aceptar" class="btn btn-success">
                </div>
        </div>
        
        </div>
    </div>
</form>


</div>