<form class="form-inline" (submit)="vender($event)" *ngIf="eresVendedor">
<div class="list-group" style="width: 100%;"  > 
        <div class="list-group-item"  style="width: 300px;float: left; margin-left: auto;margin-right: auto;"> 
            <div  class="card" style=" background-color: #fbfbfb; color: #000000;"> 
        <div class="card-img-top"> 
            <img src=""  />
        </div>
        <div  class="card-block"> 
            <div class="form-group">
                <label for="nombre_local">Nombre del Local</label>
                <input type="text" [(ngModel)]="nombre_local" class="form-control" id="nombre_local">
            </div>
        </div>
        <div  class="card-block"> 
            <div class="form-group">
                <label for="RUC">RUC del Local</label>
                <input type="email" [(ngModel)]="RUC" class="form-control" id="RUC" maxlength="13">
            </div>
        </div>
        <div  class="card-block"> 
            <div class="form-group">
                <label for="telf">Teléfono</label>
                <input type="number" [(ngModel)]="telf" class="form-control" id="telf">
            </div>
        </div>
        <div  class="card-block"> 
            <div class="form-group">
                <label for="provincia">Provincia</label>
                <input type="text" [(ngModel)]="provincia" class="form-control" id="provincia">
            </div>
        </div>
        <div  class="card-block"> 
            <div class="form-group">
                <label for="edomicilio">Provincia</label>
                <input type="checkbox" [(ngModel)]="edomicilio" id="edomicilio">
            </div>
        </div>

        <div  class="card-block"> 
            <h5>Aceptar las Condiciones</h5>
        </div>
        <div  class="card-block"> 
            <input type="checkbox" (click)="aceptarVender()">
        </div>
                
                <div  class="card-block" *ngIf="aceptar"> 
                    <input type="submit" value="Aceptar" class="btn btn-success">
                </div>
        </div>
        </div>
    </div>
</form>
<app-cotizaciones *ngIf="!eresVendedor"></app-cotizaciones>
