<form class="form-inline" (submit)="addPedido($event)">
  <div class="form-group">
    <label class="sr-only" for="repuesto">Nombre del Repuesto</label>
    <input type="text" class="form-control" [(ngModel)]="repuesto" [ngModelOptions]="{standalone: true}" id="repuesto" placeholder="Nombre del Repuesto">
  </div>
  <div class="form-group">
    <label class="sr-only" for="cantidad">Cantidad</label>
    <input type="number" class="form-control" [(ngModel)]="cantidad" [ngModelOptions]="{standalone: true}" id="cantidad" placeholder="1">
  </div>
  
  <button type="submit" class="btn btn-warning"  routerLink="/cotizaciones" routerLinkActive="active" >Buscar Repuesto</button>
</form>

