<div class="list-group" style="width: 600px; margin-left: auto;margin-right: auto;"> 
        <div class="list-group-item" *ngFor="let repuesto of repuestos" style="width: 280px;float: left; margin-left:  10px;margin-right: 10px; padding: 15px;"> 
            <div  class="card" style=" background-color: #fbfbfb; color: #000000;"> 
        <div class="card-img-top"> 
            <img src="{{repuesto.img}}"  />
        </div>
        <div  class="card-block"> 
            {{repuesto.titulo_repuesto}}
        </div>
                <div  class="card-block"> 
                Marca: {{repuesto.marca_repuesto}}
                </div>
                <div  class="card-block"> 
                Modelo: {{repuesto.modelo_repuesto}}
                </div>
                <div  class="card-block"> 
                Año: {{repuesto.anio_repuesto}}
                </div>
                <div  class="card-block"> 
                Color: {{repuesto.color_repuesto}}
                </div>
        
        <div  class="card-block"> 
            <input type="button" value="Elegir"  (click)="addRepuesto(repuesto)" class="btn btn-success">
        </div>
        </div>
        </div>
    </div>
    