<div class="home">
    <div class="bg-image"></div>
    
</div>
<div class="home">
    <div class=".col-md-12">Placa: JBE0131</div>
    <div class=".col-md-12">
        <div class=".col-md-3">Marca: {{auto.marca}}</div>
        <div class=".col-md-3">Modelo: {{auto.modelo}}</div>
        <div class=".col-md-3">Año: {{auto.anio}}</div>
        <div class=".col-md-3">Color: {{auto.color}}</div>
        <div class=".col-md-3">Clase: {{auto.clase}}</div>
        <div class=".col-md-3">Servicio: {{auto.servicio}}</div>
        <div class=".col-md-3">AñoM: {{auto.aniom}}</div>
    </div>

    <app-busqueda-repuesto></app-busqueda-repuesto>
    
</div>