<div class="home">
    <div class="bg-image"></div>
    
</div>
<div class="row "style="color:white;">
    <div class="col-md-12"><h2>Placa: JBE0131</h2></div>
    <div class="col-md-12">
        <div class="col-md-3" style="float: left;"><h3>Marca: {{auto.marca}}</h3></div>
        <div class="col-md-3" style="float: left;"><h3>Modelo: {{auto.modelo}}</h3></div>
        <div class="col-md-3" style="float: left;"><h4>Año: {{auto.anio}}</h4></div>
        <div class="col-md-3" style="float: left;"><h5>Color: {{auto.color}}</h5></div>
        <div class="col-md-3" style="float: left;"><h5>Clase: {{auto.clase}}</h5></div>
        <div class="col-md-3" style="float: left;"><h5>Servicio: {{auto.servicio}}</h5></div>
        
    </div>

    <app-busqueda-repuesto></app-busqueda-repuesto>
    
</div>