 
<div class="container">
	<div class="col-xs-12 col-md-12">
	<div class="col-xs-4 col-md-8">
	</div>
    <div class="col-xs-2 col-md-1 text-center"  style="float: left;" routerLink="/vender" routerLinkActive="active">
    <div class="circle-avatar" style="background-color:#E37705; padding-top:15px;"><i class="fa icon-cog fa-plus-circle fa-2x" aria-hidden="true"></i></div>Crear Tienda
    </div>
    <div class="col-xs-2 col-md-1 text-center"  style="float: left;" routerLink="/vendedores" routerLinkActive="active">
    <div class="circle-avatar" style="background-color:#E37705;"><i class="fa icon-cog fa-home fa-2x" aria-hidden="true"></i></div>Lista de Tiendas
    </div>
    <div class="col-xs-2 col-md-1 text-center"  routerLink="/pedidos" routerLinkActive="active">
    <div class="circle-avatar" style="background-color:#E37705; padding-top:17px;"><i class="fa icon-cog fa-list fa-2x" aria-hidden="true"></i></div>Pedidos
    </div>
    <div class="col-xs-2 col-md-1 text-center"  routerLink="/cotizaciones" routerLinkActive="active">
    <div class="circle-avatar" style="background-color:#E37705;" ><i class="fa icon-cog fa-book fa-2x" aria-hidden="true"></i></div>Cotizaciones
    </div>
	</div>

<div class="col-xs-12 col-sm-12">
    <div *ngIf="hay == true" class="col-xs-12">
    <div class="col-sm-12  text-center"><h2>Placa: {{auto.placa}}</h2></div>
    <div class="col-xs-12">
        <div class="col-sm-3 text-center" ><div class="col-sm-12"><h5>Marca:</h5></div> <div class="col-sm-12"><h4>{{auto.marca}}</h4></div></div>
        <div class="col-sm-3 text-center"><div class="col-sm-12"><h5>Modelo:</h5></div> <div class="col-sm-12"><h4>{{auto.modelo}}</h4></div></div>
        <div class="col-sm-3 text-center"><div class="col-sm-12"><h5>Año:</h5></div> <div class="col-sm-12"><h4>{{auto.anio}}</h4></div></div>
        <div class="col-sm-3 text-center"><div class="col-sm-12"><h5>Clase:</h5></div> <div class="col-sm-12"><h4>{{auto.clase}}</h4></div></div>
        
    </div>
    </div>
    <div *ngIf="hay == false" class="col-xs-12 col-sm-12">
        <form class="" (submit)="addNuevaPlaca($event)">
        <div class="col-sm-12 col-xs-12"><h2>Ingrese Información</h2><br /></div>
    <div class="col-sm-12 col-xs-12 text-center"><h2>Placa: <input type="text" [(ngModel)]="placa" name="placa" class="form-control" disabled></h2><br /></div>
    <div class="col-sm-12 col-xs-12">
        <div class="col-sm-3 col-xs-12 text-center">
		<div class="col-sm-12 col-xs-12 text-center">
		<h5>Marca: </h5>
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
            <select style="height: 40px;" class="form-control" name="role" [(ngModel)]="marca">
                <option *ngFor="let marca of marcas" [value]="marca.nombre">  
                {{marca.nombre}}
                </option>
            </select>
		</div>
		</div>
		
        <div class="col-sm-3 col-xs-12 text-center">
		<div class="col-sm-12 col-xs-12 text-center">
		<h5>Modelo:</h5> 
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
		<input type="text" [(ngModel)]="modelo" name="modelo" class="form-control" placeholder="Ingresa Modelo">
		{{auto.modelo}}
		</div>
		</div>
		
        <div class="col-sm-3 col-xs-12 text-center">
		<div class="col-sm-12 col-xs-12 text-center">
		<h5>Año:</h5> 
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
		<input type="text" [(ngModel)]="anio" name="anio" class="form-control" placeholder="Ingresa Año">
		<h5>{{auto.anio}}</h5>
		</div>
		</div>
		
		<div class="col-sm-3 col-xs-12 text-center">
        <div class="col-sm-12 col-xs-12 text-center">
		<h5>Color:</h5> 
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
		<input type="text" [(ngModel)]="color" name="color" class="form-control" placeholder="Ingresa Color">
		<h5>{{auto.color}}</h5> 
		</div>
		</div>
		
        <div class="col-sm-3 col-xs-12 text-center">
        <div class="col-sm-12 col-xs-12 text-center">
		<h5>Clase:</h5> 
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
		<input type="text" [(ngModel)]="clase" name="clase" class="form-control" placeholder="Ingresa Clase">
		{{auto.clase}}
		</div>
		</div>
		
        <div class="col-sm-3 col-xs-12 text-center">
        <div class="col-sm-12 col-xs-12 text-center">
		<h5>Servicio:</h5> 
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
		<input type="text" [(ngModel)]="servicio" name="servicio" class="form-control" placeholder="Ingresa Servicio">
		<h5>{{auto.servicio}}</h5> 
		</div>
		</div>
		
        <div class="col-sm-3 col-xs-12 text-center">
        <div class="col-sm-12 col-xs-12 text-center">
		<h5>Combustible: </h5>
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
            <select style="height: 40px;" class="form-control" name="role" [(ngModel)]="combustible">
                <option *ngFor="let combustible of combustibles" [value]="combustible.nombre">  
                {{combustible.nombre}}
                </option>
            </select>
        </div>
		</div>
		
        <div class="col-sm-3 col-xs-12 text-center">
        <div class="col-sm-12 col-xs-12 text-center">
		<h5>Tracción: </h5>
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
            <select style="height: 40px;" class="form-control" name="role" [(ngModel)]="traccion">
                <option *ngFor="let traccion of tracciones" [value]="traccion.nombre">  
                {{traccion.nombre}}
                </option>
            </select>
        </div>
		</div>
			
        <div class="col-sm-3 col-xs-12 text-center">
        <div class="col-sm-12 col-xs-12 text-center">
		<h5>Transmisión: </h5>
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
            <select style="height: 40px;" class="form-control" name="role" [(ngModel)]="transmision">
                <option *ngFor="let transmision of transmisiones" [value]="transmision.nombre">  
                {{transmision.nombre}}
                </option>
            </select>
        </div>
		</div>
    </div>
        </form>
        <div class="col-xs-12"><button type="submit" class="btn btn-warning" (click)="addNuevaPlaca()">Añadir Placa</button> </div>
    </div>
    <div style="height: 20px;" class="col-xs-12"></div>
    <app-busqueda-repuesto *ngIf="auto.placa != null"></app-busqueda-repuesto>
</div>

	
	</div>
	