
<div class="list-group col-md-12" > 
    <div class="list-group col-md-4" > 
        <div class="list-group-item" *ngFor="let repuesto of repuestos"> 
            <div  class="card" style="width: 100%; background-color: #fbfbfb; color: #000000;"> 
        <div class="card-img-top"> 
            <img src=""  />
        </div>
        <div  class="card-block"> 
            Repuesto: {{repuesto.repuesto}}
        </div>
                <div  class="card-block"> 
                Cantidad: {{repuesto.cantidad}}
                </div>
        <div  class="card-block"> 
            <input type="button" value="Ver Pedido" (click)="ver_pedido(repuesto._id)" class="btn btn-success">
        </div>
        </div>
        </div>
    </div>
    
    <div class="list-group col-md-8" *ngIf="verrepuestos"> 
        <div class="col-md-12"> 
            <div  class="card" style=" background-color: #fbfbfb; color: #000000;"> 
        <div class="card-img-top"> 
            <img src=""  />
        </div>
        <div  class="card-block"> 
           Repuesto: {{verrepuestos.repuesto}}
        </div>
                <div  class="card-block"> 
                Cantidad: {{verrepuestos.cantidad}}
                </div>
               
        
        <div  class="card-block"> 
            <input type="button" value="Responder"  class="btn btn-success">
        </div>
        </div>
        </div>
    </div>
    
</div>